/***widget**/

.widget-header {
  padding: 0 .65rem;
  margin-bottom: .75rem;
  background-color: inherit;
  border-left: 5px solid #ddd;
  font-size: 1rem;
  font-weight: 500; }

.page-header {
  border-left: 5px solid #ddd; }

.jumbotron.page-header {
  margin-bottom: 0;
  background-color: #f7f7f9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

/*****************************
 ~~ widgets
*****************************/

.widgets {
  background: #efefef;
  margin: 15px 0 0 0;
  padding: 30px 0;
  text-align: justify;
}

.widgets h4 {
  border-bottom: solid 1px #959393;
  line-height: 50px;
}

@media (max-width: 767px) {
  .widget {
      margin: 40px 0;
  }
}

/*****************************
 ~~ widgets (calendar)
*****************************/

table#wp-calendar {
  width: 100%;
}

table#wp-calendar caption {
  font-weight: bold;
  text-align: center;
}

/*****************************
 ~~ widgets (tag cloud)
*****************************/
.tagcloud a {
  padding: 5px 15px;
  border: 1px solid #68727d;
  border-radius: 15px;
  color: #68727d;
  margin-bottom: 10px;
  display: inline-block; }

.tagcloud a:hover {
  opacity: 0.8;
  text-decoration: none;
}

/* Make sure select elements fit in widgets. */
.widget select,
.card select,
.widget_categories select,
.widget_archive select {
	max-width: 100%;
}

.widget_recent_entries ul.children,
.widget_categories ul.children {
  margin-left: 1rem; }

.widget_archive ul li,
.widget_recent_entries ul li,
.widget_categories ul li,
.widget_meta ul li {
  // font-size: .85rem;
  // line-height: 2;
}

.widget_archive a,
.widget_categories a,
.widget_meta a {
  color: #333;
  text-decoration: none; }
  .widget_archive a:focus,
  .widget_archive a:hover,
  .widget_categories a:focus,
  .widget_categories a:hover,
  .widget_meta a:focus,
  .widget_meta a:hover {
    color: #0275d8;
    text-decoration: none; }
