@import "../custom";
@import "../variables";
@import "../bootstrap/mixins";

body {
  //padding-top: 3.76rem;
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

.admin-bar .navbar {
  margin-top: 32px;
}

/**
 * Front Page
 */

.sticky-posts .card {
  border-bottom: 1px solid #eee;
}

.sticky-posts .card,
.related-posts .card {
  border: 0;
  .card-block {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


/**
 * related-posts
 */
 .related-posts .card-title {
   margin-bottom: 0; //因为只有card-title，覆盖bottom
 }

/** post-tags **/

.post-tags,
.hot-tags {
  .btn {
    border-radius: 80px;
  }
}

.hot-tags {
  a {
    margin-top: 5px ;
    margin-bottom: 5px;
  }
}

.jumbotron {
  background-color: #f7f7f9;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.screen-reader-text {
  @include sr-only();
  @include sr-only-focusable();
}

.navbar-nav .nav-link,
.navbar-nav .text-center {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.border-bottom-1 {
  border-bottom: 1px solid #eee;
}

.text-weakest {
  color: #999; }

.header-bg {
  background-image: url('../img/bg.jpg');
  background-position: center bottom;
  background-size: cover;
  margin-top: 0;
  height: 180px;
}

img {
  display: block;
  height: auto;
  max-width: 100%; }

@media (max-width: 768px) {
  #sticky-posts {
    margin-top: 1rem; } }

.avatar {
  border-radius: 50%;
}
.comment {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5); }

.text-roll {
  background-color: #f0f0f0;
  padding: 0 15px;
  margin-bottom: 0;
}

.flexslider img {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  box-shadow:0 2px 6px 0 rgba(0,0,0,0.1);
}
/*****************************
 ~~ html specific
*****************************/

.footer p {
  color: #99979c;
  margin-bottom: 0;
}

.footer a {
  color: white;
  opacity: 0.75;
}

.footer {
  background: #2a2730;
  padding: 20px 0;
}

.footer .nav-link {
}
/*****************************
 ~~ WordPress Config Specific

 .sticky {
   background-color: #FFEBCD;
 }
*****************************/

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.hide-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.hide-bullets li.col-sm-4 {
  padding: 0;
}

/*****************
 ~~ Blog (home)
*****************************/

article.post {
  margin: 20px 0;

}

/*****************************
 ~~ admin
*****************************/

.admin-bar .navbar-fixed-top {
    margin-top: 32px;
}

/*****************************
 ~~ 404 (error)
*****************************/

body.error404 {
    background: #563D7C;
    color: #f7f7f7;
}

/*****************************
~~ Posts display (list / grid)
*****************************/

#display {
    margin: 0 0 40px 8px;
}

#display a {
    font-size: 16px;
}

div#post-metadata {
    display: none;
}

/**tag**/
.tag-tip {
  font-size: 1.1rem;
  color: #68727d; }


.widget_lean_posts .card,
.related-posts .card {
  margin-bottom: 20px;
}

.card .card-block ul {
  margin-bottom: 0; //覆盖默认的margin-bottom
}

.card {
  margin-bottom: 1rem;
}

.widget_calendar .table {
  margin-bottom: 0;
}
